@import "tailwindcss";

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #841c21;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
  --color-beige: #fff7ed;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-beige);
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
  padding: 2em;
  text-align: center;
  margin: 0 auto;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {

  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}
@layer components {
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center bg-orange-50 min-h-[7vh];

    nav {
      @apply container mx-auto px-5 2xl:px-0;

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply bg-transparent border-none outline-none cursor-pointer;
        }
      }

      ul {
        @apply flex-center gap-8;

        a {
          @apply hidden md:block text-red-950 opacity-80 font-regular text-sm cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
        }
      }
    }
  }
.photo-right {
  @apply w-full lg:w-1/2 ms-5 mr-20 flex justify-center rounded-lg overflow-hidden;
}

  .photo-left {
    @apply w-full lg:w-1/2 ms-5 mr-20 flex justify-center rounded-lg overflow-hidden;
  }
  .logo {
        @apply h-24 w-24 rounded-[25%] transition-all duration-300 ease-in-out m-4;
      }

      .logo:hover {
        @apply shadow-[0_0_30px_rgba(188,143,143,0.9)] scale-110;
      }

      .navBarList {
        @apply text-xl font-bold text-red-800;
      }

      .navBarIcon {
        @apply h-8 w-8 hover:scale-110 transition-all;
      }

    }
    .title {
        @apply text-3xl font-bold text-red-800 m-10 flex justify-start shadow-[0_2px_rgba(188,143,143,0.9)]
    }
    .description {
      @apply text-2xl font-bold text-black m-5 text-wrap md:wrap-break-word;
    }
    .sub-description {
      @apply text-2xl font-bold text-black text-wrap md:wrap-break-word;
    }
    button {
      @apply relative z-10 bg-primary text-white py-2 px-6 mt-10 lg:mt-10 mb-5 rounded-full font-semibold text-lg cursor-pointer border-2 border-primary
      transition-all duration-300 ease-in-out hover:bg-[#e0bb7e] hover:text-black hover:border-[#841c21] transition-all duration-300 ease-in-out;
    }

      #hero {
        @apply w-full flex flex-col justify-center items-center text-center;

        div {
          @apply relative z-10 col-center lg:translate-y-16;

          h1 {
            @apply font-semibold lg:text-3xl 2xl:text-5xl text-white;
          }

          img {
            @apply container mx-auto w-2/3;
          }
          .hero-title {
             @apply text-xl md:text-3xl lg:text-4xl font-bold text-red-800 max-w-3xl mb-8 leading-snug
          }
        }

      video {
        @apply m-auto lg:translate-y-5 2xl:translate-y-0 w-3/4 md:w-2/3 lg:w-1/2;
      }

      p {
        @apply lg:h3-semibold base-semibold;
      }
    }

  #showcase {
    @apply relative lg:overflow-hidden my-20 max-h-3/4;

    .media {
      @apply relative lg:overflow-hidden my-20 max-h-3/4;

      video {
        @apply w-full object-cover object-center;
      }

      .mask {
        @apply absolute h-7/8 top-0 lg:-top-40 xl:top-0;

        img {
          @apply h-full scale-150 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }
        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }
    .link {
      @apply text-red-950 cursor-pointer transition-all duration-300 ease-in-out transform hover:-translate-y-0.5 hover:scale-110;
    }
  }


/* contact section */
.contact-container {
  @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
}
.mini-title {
  @apply text-2xl font-bold text-red-800 m-10;
}
.field-label {
  @apply text-lg text-red-800;
}

.field-input {
  @apply w-full bg-beige px-5 py-2 min-h-14 rounded-lg placeholder:text-dark-100 text-lg text-red-800 shadow-2xl focus:outline-none;
}

.field-btn {
  @apply bg-black px-5 py-2 min-h-12 rounded-lg shadow-2xl flex justify-center items-center text-lg text-red-800 gap-3 hover:bg-red-800 hover:text-white transition-all duration-300;
}


.field-btn_arrow {
  @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

.alert-p {
  color: #841c21;
}